<div class="fill-screen blogindexpage-bg-image" >
    <div class="blu-margin"></div>
    <div class="container text-center">
        <h1 id="blog-welcome-heading">Welcome to my blogs</h1>
        <p class="mt-3" id="blog-index-desc">Blogging is the way to share your knowledge to the outside world.</p>
        <div class="landingpage-aboutme-btn mt-lg-5">
          <%= link_to "Sign Up To Make Comments",new_user_session_path, class: "btn blog-index-signup-btn btn-lg btn-success my-2 my-sm-0"%>  
        </div>
    </div>
</div>
<div class="container mt-4 blog-index-container">
  <% @blogs.each do |blog| %>
      <div class="blog-index-head">
        <span class="blog-time">
          <%= blog.created_at.to_s(:long) %>  
        </span>
        <%=link_to blog.user.name, pages_aboutme_path, class: 'blog-index-username'%>
      </div>
      <%= link_to 'Edit || ', edit_blog_path(blog) if logged_in?(:site_admin) %> 
      <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>
      <%= link_to "<h2>#{blog.title}</h2>".html_safe, blog, class: 'blog-index-body-heading'%>
      <div class="blog-index-body blog-index-body-text">
        <p class="blog-index-body-text"> 
          <%= simple_format(blog.description) %> 
          <%= link_to 'Read Full Blog', blog, class: 'blog-index-readfull'%>
        </p>
      </div>
      <hr/>
  <% end %>
  <%= paginate @blogs %>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Indra Kumar Mhaski.</p>
    <ul class="list-inline">
        <%= link_to 'Home', pages_home_path,class: 'list-inline-item' %>
        <%= link_to 'Top','#',class: 'list-inline-item' %>
        <%= link_to 'Work Examples', workexamples_path,class: 'list-inline-item' %>
    </ul>
</footer>