<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<p>
  <strong>Blogimage:</strong>
  <%= image_tag(@blog.blogimage_url) %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user.name %>
</p>

<%= render 'likes/new',post: @blog if logged_in?(:admin,:user) %>

<%= render @blog.blog_comments %>

<%= render 'blog_comments/new', post: @blog if logged_in?(:admin,:user) %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
