
<div class="container blog-show-container">
    <%= image_tag(@blog.blogimage_url,class: 'blog-show-image') %>
    <h1 class="text-center mt-3"><%= @blog.title%></h1>
    <div class="blog-show-desc-text"><%= simple_format(@blog.description) %></div>
    <hr/>
    <div class="blog-show-text"><%= simple_format(@blog.body) %></div>
    <%= render 'tags' %>
    <h5>Comments:</h5>
    <%= render @blog.blog_comments %>
    <%= render 'blog_comments/new', post: @blog  %>
</div>

<div class="blog-show-like">
<%= render 'likes/new',post: @blog if logged_in?(:site_admin,:user) %>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Indra Kumar Mhaski.</p>
    <ul class="list-inline">
        <%= link_to 'Home', pages_home_path,class: 'list-inline-item' %>
        <%= link_to 'Top', '#',class: 'list-inline-item' %>
        <%= link_to 'Work Examples', workexamples_path,class: 'list-inline-item' %>
    </ul>
</footer>
