<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<p>
  <strong>Blogimage:</strong>
  <%= image_tag(@blog.blogimage_url) %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user.name %>
</p>

<%= form_with(model: Like.new, local: true) do |form| %>
  <div class="actions">
    <%= @blog.likes.distinct.count('user_id') %>
    <%= form.hidden_field 'blog_id', :value => params[:id] %>
    <%= form.submit('Hit a like!') %>
  </div>
<% end %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
