<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <%= link_to 'Indra Kumar Mhaski', pages_aboutme_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-lg-4 mr-auto">
      <li class="nav-item ml-lg-1 active">
        <%= link_to 'Home', pages_home_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item ml-lg-1">
        <%= link_to 'About', pages_aboutme_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item ml-lg-1">
        <%= link_to 'Blogs', blogs_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item ml-lg-1">
        <%= link_to 'New-Blog', new_blog_path, class: 'nav-link active' if logged_in?(:site_admin) %>
      </li>
      <li class="nav-item ml-lg-1">
        <%= link_to 'Work Examples', workexamples_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item ml-lg-1">
        <%= link_to 'New-Work-Example', new_workexample_path, class: 'nav-link active' if logged_in?(:site_admin) %>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <% if current_user %> 
              <% if current_user.provideravatar %>     
                <%= image_tag(current_user.provideravatar,class: 'pro-nav-i') %>
              <% else %>
                <%= image_tag(current_user.avatar_url,class: 'pro-nav-i') %>
              <% end %>            
          <% end %>
        </li>            
        <li class="nav-item">
          <% if current_user %>
            <%= link_to "#{ current_user.name }", edit_user_registration_path, class: 'nav-link active' %>
          <% end %>
        </li>
      </ul>
      <% if current_user %>
          <%= link_to "LogOut",destroy_user_session_path, method: :delete, class: "btn btn-danger my-2 my-sm-0"%>   
      <% else %>
          <%= link_to "Log_In",new_user_session_path, class: "btn btn-success my-2 my-sm-0"%>  
      <% end %>
    </form>
  </div>
</nav>