
    <div class="container-fluid we-index-container">
         <% if logged_in?(:site_admin) %>
          <ul class="sortable row">
         <% else %>
          <ul class="row">
         <% end %>
            <% @workexamples.order("position ASC").each do |we| %>
                    <li class="card col-xs-12 we-index-card font-weight-normal" data-id="<%= we.id %>" >
                      <%= image_tag(we.thumbimage_url, class: 'card-img-top we-card-img')%>
                        <div class="card-body">
                           <h5 class="card-title"><%=we.title%></h5>
                           <p class="card-text"><%= we.description %></p>
                           <%= link_to 'Check Out', we, class: 'btn btn-primary'%>
                           <%= link_to 'Edit', edit_workexample_path(we), class: 'btn btn-success' if logged_in?(:site_admin) %>
                           <%= link_to 'Destroy', we, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if logged_in?(:site_admin) %>
                        </div>
                    </li>
            <% end %>
          </ul>
        
    </div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Indra Kumar Mhaski.</p>
    <ul class="list-inline">
        <%= link_to 'Home', pages_home_path,class: 'list-inline-item' %>
        <%= link_to 'Top','#',class: 'list-inline-item' %>
        <%= link_to 'Blogs', blogs_path,class: 'list-inline-item' %>
    </ul>
</footer>
