
<div class="container we-show-container">
    <%= image_tag(@workexample.mainimage_url,class: 'we-show-image') %>
    <h1 class="text-center mt-3"><%= @workexample.title%></h1>
    <hr/>
    <h3>Description</h3>
    <p class="we-show-text"><%= @workexample.description %></p>
    <%= render 'technologies' %>
    <h5>Comments:</h5>
    <%= render @workexample.workexample_comments %>
    <%= render 'workexample_comments/new', post: @workexample %>
</div>


<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Indra Kumar Mhaski.</p>
    <ul class="list-inline">
        <%= link_to 'Home', pages_home_path,class: 'list-inline-item' %>
        <%= link_to 'Top','#',class: 'list-inline-item' %>
        <%= link_to 'Blogs', blogs_path,class: 'list-inline-item' %>
    </ul>
</footer>