<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @workexample.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workexample.description %>
</p>

<p>
  <strong>Thumbimage:</strong>
  <%= @workexample.thumbimage %>
</p>

<p>
  <strong>Mainimage:</strong>
  <%= @workexample.mainimage %>
</p>

<p>
  <strong>User:</strong>
  <%= @workexample.user.name %>
</p>

<%= render 'technologies' %>

<%= render @workexample.workexample_comments %>

<%= render 'workexample_comments/new', post: @blog %>

<%= link_to 'Edit', edit_workexample_path(@workexample) %> |
<%= link_to 'Back', workexamples_path %>
